.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: -30%
    left: 20%
    width: 85px
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 20%
    left: 0
    width: 85px
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 30%
    right: 0
    width: 85px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
  
.banner-principal .tarjeta
  background-position: left 50% !important
 
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important
 
.banner-interno__titulo__icono i
  color: $color-primario
 
figcaption
  font-weight: normal
 
.banner-principal__row .banner-principal__img
  width: 400px !important
  margin-top: auto
  padding: 0 !important
  @media screen and (min-width: $bp-max-xl)
    width: 500px !important
 
.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.png") !important
.banner-principal .tarjeta
  @media screen and (max-width: $bp-max-md)
    background-image: url("../assets/curso/portada/fondo-banner-principal-tablet.png") !important
  @media screen and (max-width: 767px)
    background-image: url("../assets/curso/portada/fondo-banner-principal-mobile.png") !important

.bg-transporte
  background-image: url('../assets/curso/intro/bg-text.png')
  background-position: center
  background-size: cover
  background-repeat: no-repeat

  @media screen and ( mim-width: $bp-min-lg )
    background-position: start center
    

// .bg-palmera
//   background-image: url('../assets/curso/temas/tema7/bg-tarjeta.png')
//   background-position: center
//   background-size: cover
//   background-repeat: no-repeat
//   height: calc( 100% -  16px)
//   &--black
//     background-image: url('../assets/curso/temas/tema6/bg-tabs.png')

.w-85
  max-width: 85px
  margin: 0 auto